{% extends "templates/base.html" %}

{% block content %}
  <form method="{{ method }}" action="/notes/{{ action }}" class="note-form container mt-5">
    {{ include('templates/errorMessage.html') }}

    {{ include('templates/noteForm.html', { 'note': note }) }}

    <button class="note-form-submit-btn btn btn-primary">Submit</button>
  </form>
{% endblock %}

{% block scripts %}
  <script>
    window.addEventListener('load', function () {
      $('.note-form').submit(function (event) {
        event.preventDefault();

        const noteForm = $(this);
        const type = noteForm.attr('method');
        const url = noteForm.attr('action');

        $.ajax({
          type,
          url,
          data: noteForm.serialize(),
          success: function (data, status, xhr) {
            alert('Successfully saved your note!');

            const redirectUri = '{{ note is not empty }}' ? '?id={{ note.id }}' : '';
            window.location.replace('/notes' + redirectUri);
          },
          error: function (xhr) {
            $('.alert').css({display: 'block'});
            const errorTextSpan = $('.error-text');

            if (xhr.status === 401) {
              errorTextSpan.text('Seems like you are not logged in yet. Please login to continue.');

              return;
            }

            if (xhr.status === 403) {
              errorTextSpan.text('You are not authorized to perform such action.');

              return;
            }

            if (xhr.status === 500) {
              errorTextSpan.text('Unexpected error occurred');

              return;
            }
          }
        });
      });
    });
  </script>
{% endblock %}
